[Unit]
Description=
Wants=network.target
After=network-online.target
ConditionPathExists=!/var/lib/ansible-init.done

[Service]
{% if ansible_distribution_version == 18.04 %}
Type=simple
{% else %}
Type=oneshot
{% endif %}
RemainAfterExit=true
ExecStart=/usr/bin/ansible-init
ExecStartPost=/usr/bin/touch /var/lib/ansible-init.done
Restart=on-failure
RestartSec=10
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target default.target
